<!--@subject Succès d'abonnement de bulletin d'information @-->
        <!--@vars
{"store url=\"\"":"Store Url",
"skin url=\"images/logo_email.gif\" _area='frontend'":"Email Logo Image"
@-->
<a href="{{store url=""}}"><img src="{{skin url="images/logo_email.gif" _area='frontend'}}" alt="{{var store.getFrontendName()}}"  style="margin-bottom:10px;" border="0"/></a><br /><br />

Merci pour votre abonnement au bulletin informatif de Stokes, Utilisez le code coupon <font style="color:#d32614;">COUPON10</font> pour recevoir 10 % de rabais sur votre premi&egrave;re commande.